body {
		font-size: 1em;
		font-family: sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li:nth-child(2n) {
		background: cyan;
}

li {
		padding: 1px;
}

.close-sym:hover {
    background-color: lightsalmon;
}

a {
		text-decoration: none;
}
