body {
		width: 300px;
		overflow-x: hidden;
}

input[type=button] {
		border: 0px;
		background-color: lightskyblue;
		border-radius: 6px;
		margin: 2px;
		font-size: 1em;
}

#item_tb {
		border-top: thin solid;
		margin: 0.5em auto 0.5em auto;
		padding: 0.5em;
    padding-left: 0;
}

#item_tb tr:nth-child(2n) {
		background: cyan;
}

.row {
		display: flex;
}

.cell {
		flex: 1;
}

.inner_row {
		display: flex;
}

.text_sp {
		font-size: 1.4em;
}

.link:hover {
		background-color: lightskyblue !important;
		cursor: default;
}
